.bibliomanga {background-color: $backblack; margin: 1%; padding: 1%; 
    box-sizing: border-box;
    .coleccionmanga {display: flex;
        .margen {margin: 3.6%; border: 4px solid rgb(29, 125, 138); text-align: center;
    }
}}

.bibliomangamobile {display: none;}

