.pagcas {text-align: center; display: inline; margin: 1px; padding: 1px; 
    box-sizing: border-box;}
    .lector {text-align: center; width: 100vw; max-width: 800px; min-width: 370; margin: auto;
        .imglector { width: 100%; max-width: 800px; min-width: 370; margin: auto;
        }
    }