.Carrusel {
    .imgportada {text-align: center; margin-left: 2%; margin-right: 2%;
    }
}

.coleccionmanga1 {display: block; display: flex;
    .manga {margin: 3%; border: 3px solid $lightblue;
    }
}

.video {text-align: center; margin-left: 4%; margin-right: 4%; margin-top: 2%; margin-bottom: 2%;
}

.videomobile {display: none;
}

.coleccionmangamobile {display: none;
}



